html,
body,
#root {
  height: 100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none
}

::selection {
  background: #333;
  color: #fff;
}

::-moz-selection {
  background: #333;
  color :#fff;
}

::-webkit-selection {
  background: #333;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html, img, video {
    filter: invert(1) hue-rotate(180deg);
  }
  img, video {
    opacity: .85;
  }
}
